<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="capturekit-local" value="..\CaptureKit\artifacts\packages" />
    <add key="capturekit-workflow" value="CaptureKit\artifacts\packages" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
