<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="mp uap rescap">

  <Identity
	Name="1206Weaver.65288EF293C1E"
	Publisher="CN=837C3C71-9A7D-469F-8F51-7E72CC6915ED"
	Version="1.5.1.0" />

  <mp:PhoneIdentity PhoneProductId="715d0899-07ec-49bb-a59c-2d3daae47066" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>Capture Tool</DisplayName>
    <PublisherDisplayName>Shane Weaver</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="Capture Tool"
        Description="Capture, edit, and share screenshots—fast."
        BackgroundColor="#FFFFFF"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"  Square71x71Logo="Assets\SmallTile.png" Square310x310Logo="Assets\LargeTile.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>

      <Extensions>
		<uap:Extension Category="windows.protocol">
		  <uap:Protocol Name="ms-screenclip">
			<uap:DisplayName>Capture Tool</uap:DisplayName>
			<uap:Logo>Assets\StoreLogo.png</uap:Logo>
		  </uap:Protocol>
		</uap:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
