name: Build

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build:
    runs-on: windows-latest

    strategy:
      matrix:
        platform: [x64, arm64]

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '10.0.100'

    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v2

    - name: Setup vcpkg
      run: |
        git clone https://github.com/microsoft/vcpkg.git
        vcpkg\bootstrap-vcpkg.bat
        vcpkg\vcpkg.exe install wil:x64-windows

    - name: Restore .NET dependencies
      run: dotnet restore

    - name: Build solution
      run: msbuild CaptureTool.sln /p:Configuration=Release /p:Platform=${{ matrix.platform }} /p:UapAppxPackageBuildMode=StoreUpload

    - name: Upload Package Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: StorePackage-${{ matrix.platform }}
        path: '**\AppPackages\*.appxupload'