name: .NET Tests

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  # Setup
  setup:
    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '9.0.306'

    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v1.1

    - name: Install Windows 10 SDK (10.0.19041.0)
      run: choco install windows-sdk-10-version-2004-all -y --no-progress

    - name: Install vcpkg
      run: |
        git clone https://github.com/microsoft/vcpkg.git
        .\vcpkg\bootstrap-vcpkg.bat
        .\vcpkg\vcpkg install wil

  # Build
  build:
    needs: setup
    runs-on: windows-latest

    steps:
    - name: Restore dependencies
      run: dotnet restore

    - name: Build solution
      run: msbuild CaptureTool.sln /p:Configuration=Release /p:WindowsTargetPlatformVersion=10.0.19041.0 /p:VcpkgEnableManifest=false /p:VcpkgRoot="vcpkg"

  # Test
  test:
    needs: build
    runs-on: windows-latest

    steps:
    - name: Run C# tests
      run: dotnet test "src/**/*.csproj" --no-build --verbosity normal