name: .NET Tests

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build-and-test:
    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '9.0.306' # match your project

    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v1.1

    - name: Restore dependencies
      run: dotnet restore

    - name: Build solution
      run: msbuild CaptureTool.sln /p:Configuration=Release /m /v:minimal

    - name: Run C# tests
      run: dotnet test "src/**/*.csproj" --no-build --verbosity normal